{% extends 'base.html' %}

{% block content %}
<div class="container container-layout mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold mb-4">Contact Us</h2>
            <p>Have a question or feedback? We'd love to hear from you!</p>

            <div class="row mt-5">
                <div class="col-md-12">
                    <h5 class="font-weight-bold">Customer Support</h5>
                    <p>For help with your order or account:</p>
                    <p><i class="fas fa-envelope mr-2 text-primary"></i> luxefashions001@gmail.com</p>
                    <p><i class="fas fa-phone mr-2 text-primary"></i> +91 8825638150</p>
                    <p><i class="fas fa-map-marker-alt mr-2 text-primary"></i> India</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}