{% extends 'base.html' %}

{% block content %}
<div class="container container-layout mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bold mb-4">Licence Information</h2>

            <h4 class="font-weight-bold mt-4">Copyright</h4>
            <p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips,
                digital downloads, data compilations, and software, is the property of Luxe or its content
                suppliers and protected by international copyright laws. The compilation of all content on this site is
                the exclusive property of Luxe, with copyright authorship for this collection by Luxe, and protected
                by international copyright laws.</p>
            <p>The software used on this site is the property of Luxe or its software suppliers and protected by
                international copyright laws.</p>
            <h4 class="font-weight-bold mt-4">Trademarks</h4>
            <p>Luxe graphics, logos, page headers, button icons, scripts, and service names are trademarks,
                registered trademarks or trade dress of Luxe in the India and/or other countries.</p>
        </div>
    </div>
</div>
{% endblock %}